<%= simple_form_for(@place) do |f| %>
  <%= f.error_notification %>
	<%= f.full_error :image_file_size, class: "alert alert-error" %>
	<%= f.full_error :image_content_type, class: "alert alert-error" %>
	
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :address %>
		<%= f.input :state, collection: us_states %>
		<%= f.input :city %>
		<%= f.input :zipcode %>
		<%= f.input :phone %>
		<%= f.input :category, collection: ["Masjid", "Islamic School", "Restaurant", "Business"] %>
    <%= f.input :description, as: :text, input_html: { rows: "3"} %>
    <%= f.input :website %>
		<%= f.input :image, label: "Upload an image" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Enter" ,class: "btn btn-primary" %>
  </div>
<% end %>
