<table class="table table-hover table-condensed">
<thead>
		<tr>			
		 <th>Photo</th>
	   <th>Name</th>
	   <th>Address</th>
		 <th>State</th>
		 <th>City</th>
	   <th>Website</th>
		 <th>Distance</th>
		 <th>Reviews</th>
	 </tr>
</thead>

			<% places_container.each do |place| %>
				<tr>
					<th><%= image_tag place.image(:icon)%></th>
					<th><%= link_to place.name, place, :target => "_blank" %></th>
				  <td><%= place.address %></td>
				  <td><%= place.state %></td>
				  <td><%= place.city %></td>
			  	<td><%= place.website %></td>
				  <td><%= place.distance.to_f.round(2) %> miles </td>
				  <td><%= place.reviews.count %> reviews</td>
					  <!-- <td><%= link_to 'Edit', edit_place_path(place) %></td>
					  <td><%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
					</tr>
					<% end %>
		
</table>