<div class="row">
	<div class="span 9">
				<div class="row">
					<div class="page-header"><h1><%= @place.name %></h1></div>
					<div class="span4"><%= image_tag @place.image %></div>
					<div class="span5 ">
						<strong>Name:</strong><br><%= @place.name %><br><br>
						<strong>Address:</strong><br><%= @place.address %><br><br>
						<strong>State:</strong><br><%= @place.state %><br><br>
						<strong>City:</strong><br><%= @place.city %><br><br>
						<strong>Type:</strong><br><%= @place.category %><br><br>
						<strong>Description:</strong><br><%= @place.description %><br><br>
						<strong>Website:</strong><br><%= @place.website %><br><br>

						<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@place.latitude}%2C#{@place.longitude}" %>
						

						<h3>Nearby Halal Spots</h3>
						<ul>
							<% for place in @place.nearbys(30) %>
								<li><%= link_to place.name, place %> (<%= place.distance.round(2) %> miles)</li>
							<% end %>
						</ul>
						
						<%= link_to 'Edit', edit_place_path(@place) %> |
						<%= link_to 'Back', places_path %>
					</div>
				</div>
		</div>
</div>