  <div class="span11">
	<div class="row">
		<div class="page-header"><h2><%= @place.name %> | <%= @place.city %>,<%= @place.state %></h2></div>
		<div class="span5">
		<div class="img-polaroid"><%= image_tag @place.image %></div>
		</div>
		<div class="span5 offset1">
		<div class="img-polaroid"><%= image_tag 			"http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@place.latitude}%2C#{@place.longitude}" %></div>
			</div>
		
			
    <div class="row">
      <div class="span8">
				<div class="accordion" id="accordion2">
				  <div class="accordion-group">
				    <div class="accordion-heading">
				      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
				      <%= @place.name %>	Information
							</a>
				    </div>
				    <div id="collapseOne" class="accordion-body collapse in">
				      <div class="accordion-inner">
								<div class="address">
								<strong><%= @place.name %></strong><br>
								<strong>Type of Halal Spot:</strong><br><%= @place.category %><br><br>
								<strong>Description:</strong><br><%= @place.description %><br><br>
								<strong>Website:</strong><br><%= @place.website %><br><br>
								<%= @place.address %><br>
								<%= @place.city %>, <%= @place.state %>
								</div>				      
								</div>
				    </div>
				  </div>
					<div class="accordion" id="accordion2">
					  <div class="accordion-group">
					    <div class="accordion-heading">
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
					      Nearby Halal Spot
								</a>
					    </div>
					    <div id="collapseTwo" class="accordion-body collapse in">
					      <div class="accordion-inner">
									<h3>Nearby Halal Spots</h3>
									<ul>
										<% for place in @place.nearbys(30) %>
											<li><%= link_to place.name, place %> (<%= place.distance.round(2) %> miles)</li>
										<% end %>
									</ul>
									</div>
					    </div>
					  </div>
	
	</div>
    </div>
  </div>
