<div class="span11">
	<div class="row">
		<div class="page-header"><h2><%= @place.name %> | <%= @place.city %>,<%= @place.state %></h2></div>

			<div class="row">
				<div class="span5">
					<div class="img-polaroid">
						<%= image_tag @place.image(:large) %>
					</div>
				</div>

				<div class="span5">	
					<div class="img-polaroid">	
						<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=
						#{@place.latitude}%2C#{@place.longitude}" %>
					</div>
				</div>
			</div><br>

			<div class="row">
				<div class="span10">
					<div class="well">
						<h3>Basic Information</h3>
						<strong>Type of Halal Spot:</strong><br><%= @place.category %><br><br>
						<strong>Description:</strong><br><%= @place.description %><br><br>
						<strong>Website:</strong><br><%= @place.website %><br><br>
						<strong>Address:</strong><br><%= @place.address %><br>
						<%= @place.city %>, <%= @place.state %> <%= @place.zipcode %>
					</div>
				</div>
			</div>		
			
			<!-- <div class="row">
							<div class="span10">
								<div class="well">
									<h3>Nearby Halal Spots</h3>
									<% for place in @place.nearbys(30) %>
									<li><%= link_to place.name, place %> (<%= place.distance.to_f.round(2) %> miles)</li>
									<% end %>
									</div>
								</div>
							</div> -->
				
				<div class="row">
					<div class="span10">
						<div class="well">
								<h3>Reviews</h3>
								<% if @place.reviews.any? %>
									<%= render @place.reviews %>
								<% else %>
									<p class="lead">Sorry! There are no reviews yet!</p>
								<% end %>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="span10">
							<div class="well">
								<h3>Add a review:</h3>
								<%= render "reviews/form" %>
							</div>
						</div>
					</div>
					

		<%= link_to 'Edit', edit_place_path(@place) %> |
		<%= link_to 'Back', places_path %>
	</div>	
</div>